h1 {
    font-size: 9em !important;
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    width: 100%;
    text-align: center;
    mix-blend-mode: difference;
    font-style: italic;

}
.hero-text {
    width: 70%;
    margin: auto;
    align-content: center;
    display: flex;
    vertical-align: middle;
}
.hero-img {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .home {
      height: 100%;
      display: flex;
      overflow: hidden;
  }
  .message {
    height: 100%;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    vertical-align: center;
  }
  .message-container {
      display: flex;
      align-items: center;
      justify-content: center;
      vertical-align: center;
  }
  .message-content {
      display: flex;
      width: 70%;
      
  }
  .message-content.image {
    color: white;
    width: 50%;
    justify-content: center;

    }
  .message-content.text {
    /* margin-left: 10px; */
    color: white;
    width: 30%;

    }
  .message-img {
      width: 50%;
  }
  .photos {
    height: 100%;
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding: 100px;
  }
  .photos-content {
    display: flex;
    width: 30%;
    height: 30%;
    justify-content: center;
  }
  .photo {
    height: 90%;
    margin: auto;
  }
  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    .hero-img {
      left: 50%;
      margin-left: -512px;   /* 50% */
      object-fit: cover;
      overflow: hidden;
    }
    h1 {
      font-size: 3em !important;
    }
  
    .message-container {
      display: flex;
      /* background-color: red; */
      align-items: center;
      justify-content: center;
      vertical-align: center;
      flex-direction: row;
      flex-wrap: wrap;
      overflow-y: auto;
      max-height: 100%;
    }
    .message-img {
      width: 100%;
    }

    .message-content.image {
      margin: auto;
      color: white;
      width: 50%;
      margin-top: 50px;
    }

    .message-content.text {
      margin-top: 50px;
      color: white;
      width: 70%;
    }
    .photos-content {
      display: flex;
      width: 50%;
      height: 30%;
      justify-content: center;
    }
  }
.custom-nav {
    background-color: transparent !important;
}
.custom-nav-link {
    font-weight: 500 !important;
    text-transform: uppercase;
    color: white !important;
    font-family: 'Montserrat', sans-serif  !important;
}
.custom-nav-link:hover {
    text-decoration: underline ;
}